#main_menu {
	text-align: center;
	float: center;
	padding: 20px 0px 20px 190px;
	width: 90%;
	height: 50px;
	color: white;
	background-color: black;
}

li { 
	display:inline-block;
}

#bloque1 {
	padding: 30px 
}
	

#filas {
	display: inline-block;
	margin-left: auto;
    margin-right: auto;
}

.center1 {
    display: block;
	margin-left: auto;
    margin-right: auto;
	width: 1290px;
	
}

.center2 {
    margin-left: 50px;
    margin-right: auto;
}

.left {
  float:left;
  margin-left: 250px;
}

.right {
	float: right;
	margin-left: 50px;
}